<!DOCTYPE html>
{% extends 'seller_dash.html' %}
{% load crispy_forms_filters %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5 bg-dark text-white">
                <div class="card-body">
                    <h2 class="card-title">Select Date Range</h2>
                    <form method="post" action="{% url 'generate_report' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="start_date" class="form-label">Start Date:</label>
                            <input type="date" class="form-control bg-dark text-white" id="start_date" name="start_date">
                        </div>
                        <div class="mb-3">
                            <label for="end_date" class="form-label">End Date:</label>
                            <input type="date" class="form-control bg-dark text-white" id="end_date" name="end_date">
                        </div>
                        <button type="submit" class="btn btn-primary">Generate Report</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
